<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/styles.css">
    <title>About Page</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="content">
        <h2>About Us</h2>
        <p>Welcome to Movie+, your ultimate destination for all things movies! 
            Founded by a team of passionate film enthusiasts, we are dedicated 
            to bringing the magic of cinema right to your fingertips. Whether 
            you’re a casual moviegoer, a dedicated cinephile, or just someone 
            looking to relax with a good film, we’ve got you covered.
        </p>
    </div>
    <%- include('./partials/status.ejs') %>
    </br>
    <%- include('./partials/auth.ejs') %>
</body>
</html>