<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="content">
        <h2>About Us</h2>
        <p>Welcome to A+ Furniture, where craftsmanship meets comfort. Founded in [Year], 
            our company was born out of a passion for creating beautiful, functional furniture 
            that enhances the way you live. From our humble beginnings as a small workshop, 
            we have grown into a trusted name in the furniture industry, known for our commitment 
            to quality, innovation, and exceptional customer service.
        </p>
    </div>
    <%- include('./partials/status.ejs') %>
    </br>
    <%- include('./partials/auth.ejs') %>
</body>
</html>