<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="content">
            <h2>Welcome</h2>
        </div>
        <%- include('./partials/status.ejs') %>
        </br>
        <%- include('./partials/auth.ejs') %>
    </body>
</body>
</html>