<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="content">
            <h2>Welcome!</h2>
            <p>We specialize in creating handcrafted modern furniture that combines timeless 
                design with modern functionality. Our collections range from sofas, dining tables, 
                bedroom sets, and more! Whether you’re looking for a statement piece or a complete 
                home makeover, our diverse range of products is designed to cater to all tastes and styles.
            </p>
        </div>
        <%- include('./partials/status.ejs') %>
        </br>
        <%- include('./partials/auth.ejs') %>
    </body>
</body>
</html>